*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
body{
    background-color: rgb(244, 244, 229);
}
.contenedorLoginHtml{
    font-family: "Inria Sans", sans-serif;
    background-color: rgba(240, 248, 255, 0.445);
    width: 1000px;
    text-align: center;
    height: 500px;
    margin-right: auto;
    margin-left: auto;
    padding: 80px;
    border: 2px solid #780000;
    margin-bottom: 50px;

}
.divLogin{
    padding: 15px;
}
.botonLogin{
    width: 300px;
    height: 40px;
    border-radius: 5px;
    border: 0px solid black;
    color: white;
    background-color: #003049;
}
.inputLogin{
    filter: drop-shadow(2px 2px 4px rgb(0, 0, 0));
    width: 300px;
    height: 40px;
    background-color: #fff9f9;
    border: 1px solid #ccc;
}
.tituloLoginRegister{
    text-align: center;  
    margin-top: 100px;
    font-family: "Bitter", serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin-bottom: 20px;
    color: white;
}
.padre{
    display: flex;
    margin-right: 20px;
    justify-content: space-around;
}
.logo{
    border-radius: 80px ;
    width: 90px;
    margin-bottom: 20px;
    margin-right: 20px;
}
.informacion{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    list-style-type: none; 
    margin-top: 20px;
}
#searchbar{
    width: 140px; 
    height: 30px; 
    font-size: 16px;
    margin-left: 30px;
    margin-top: 10px;
}
.button{
    width: 140px; 
    height: 30px; 
    font-size: 16px;
    margin-left: 30px;
}
header{
    background-color: #003049;
    height: 100px;
}

a{
    color: white;
    text-decoration: none;
    margin-right: 100px;
    margin-left: 100px;
}

.navh{
    display: flex;
    justify-content: center;
    width: 280px;
    height: 50px;
    padding: 0px;
    text-decoration: none;
    font-weight: normal;
    list-style-type: none;
    color: white;
    margin-top: 15px;
    font-family: Open Sans ;
}    
.nombres{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
    background-color: white;
}

.nombreshh{
    margin: 10px;
    list-style: none;
    color: black ;
    font-size: 20px;
    margin-top: 50px;

}
.formulario{
    display: flex;
    justify-content: flex-end ;
}

.container_formularios{
    font-family: "Inria Sans", sans-serif;
    border: 2px solid #780000;
    width: 1000px;
    text-align: center;
    height: 500px;
    margin-right: auto;
    margin-left: auto;
    padding: 100px;
    margin-bottom: 50px;
    background-color: rgba(240, 248, 255, 0.573);
}
.bodyForms{
    background-image: url(../img/imagenForms);
}
.div_registro{
    padding: 20px;
    text-decoration: none;
    color: black;
}

.boton_registro{
    width: 300px;
    height: 40px;
    border-radius: 5px;
    border: 0px solid black;
    color: white;
    background-color: #003049;
}

.contenedor_vermas{
display: flex;
justify-content: center;
margin: 20px;
}

.botonvermas{
    width: 85%;
    height: 40px;
    border-radius: 5px;
    border: 0px solid black;
    color: white;
    background-color: #003049;
}

.input_registro{
    filter: drop-shadow(2px 2px 4px rgb(0, 0, 0));
    width: 300px;
    height: 40px;
    border: 1px solid #ccc;
}

.input_registro_boton{
    width: 50px;
}

.ya_registrado{
    color: #003049;
    text-decoration: underline;
}

.titulo_index{ 
    font-family: "Inria Sans", sans-serif;
    text-align: center;
    margin-top: 10px;
    padding: 25px;
}

.recetas{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contenedor_recetas{
    display: flex;
    flex-direction: column;
    width: 30%;
    padding: 20px;
    margin: 15px;
    background-color: white;
}

.vermasrecetas{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.recetas_name{
    font-family: "Inria Sans", sans-serif;
    font-size: x-large;
    margin-bottom: 7px;
}

.recetas_cuisine{
   font-size: large;
   margin-bottom: 7px;
}

.recetas_difficulty{
    font-size: large;
    margin-top: 7px;
    margin-bottom: 7px;
}

.receta_id{
color: white;
font-size: large;
text-align: left;
margin: 0px;
padding: 5px;
background-color: rgb(255, 117, 89);
}
.error-mensaje{
    color: red; 
    display: none;
}

#invalid_email{
    color: #000000;
margin-top: 20px;
}

#invalid_contrasena{
margin-top: 20px;
}

.name{
    font-family: "Inria Sans", sans-serif;
    font-size: 32px;
    margin-bottom: 7px;
    text-align: center;
    margin-top: 30px;
}

.instructions{
    font-family: "Inria Sans", sans-serif;
    width: 1000px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    margin-top: 50px;
}

.prepTimeMinutes{
    font-family: "Inria Sans", sans-serif;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    margin-top: 30px;
}

.image{
    display: flex;
    flex-direction: column;
    width: 30%;
    padding: 20px;
    margin-top: 20px;
    background-color: white;
    margin-right: auto;
    margin-left: auto;             
  
}

.mealType{
    font-family: "Inria Sans", sans-serif;
    font-size: large;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
}










/* MANTENER ABAJO DEL TODO */
@media (max-width: 420px){
    .container_formularios{
        display: contents;
    }
    .contenedorLoginHtml{
        display: contents;
    }
    header{
        height: auto;
        padding: 10px;
    }
   .padre{
     flex-direction: column;
     align-items: flex-start;
   }
   .formulario{
     width: 100%;
     display: flex;
     justify-content: flex-start;
     margin-bottom: 10px;
   }
   #searchbar{
     width: 100%;
     margin-left: 40px ;
   } 
   .button{
     width: 100%;
     margin-left: 40px ;
     margin-top: 5px;
   }
   .barra{
     width: 100%;
   }
   .informacion{
     flex-direction: column;
     align-items: flex-start;
     margin-top: 0;
   }
   .navh{
     width: 100%;
     margin: 5px 0;
     text-align: left;
   }
   .logo{
    align-self: flex-end;
    margin-top: 10px;
    margin-left: 150px ;
   }
   .instructions{
    width: 400px;
   }
   .image{
    width: 300px;
   }
   .boton_registro{
    margin-right: 100px;
   }
   .contenedor_recetas{
    width: 90%;
   }
}