*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
body{
    background-color: rgb(244, 244, 229);
}
.contenedorLoginHtml{
    font-family: "Inria Sans", sans-serif;
    background-color: rgba(240, 248, 255, 0.445);
    width: 1000px;
    text-align: center;
    height: 500px;
    margin-right: auto;
    margin-left: auto;
    padding: 100px;
    border: 2px solid #780000;
    margin-bottom: 50px;

}
.divLogin{
    padding: 20px;
}
.botonLogin{
    width: 300px;
    height: 40px;
    border-radius: 5px;
    border: 0px solid black;
    color: white;
    background-color: #003049;
}
.inputLogin{
    filter: drop-shadow(2px 2px 4px rgb(0, 0, 0));
    width: 300px;
    height: 40px;
    background-color: #fff9f9;
    border: 1px solid #ccc;
}
.tituloLoginRegister{
    text-align: center;  
    margin-top: 100px;
    font-family: "Bitter", serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: white;
}

.logo{
    border-radius: 80px ;
    width: 180px;
    margin-bottom:  30px ;
}
.informacion{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    list-style-type: none;
    
}
header{
    background-color: #003049;
    height: 100px;
}

a{
    color: white;
    text-decoration: none;
}
.navh{
    display: flex;
    justify-content: center;
    width: 280px;
    height: 50px;
    padding: 0px;
    text-decoration: none;
    font-weight: normal;
    list-style-type: none;
    color: white;
    margin-top: 15px;
    font-family: Open Sans ;
}    
footer{
    background-image: url(../img/fotoFooter.JPG);
    height: 300px;
}
.nombres{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
}

.nombreshh{
    margin: 10px;
    list-style: none;
    color: white ;
    font-size: 20px;
    margin-top: 50px;

}
.formulario{
    display: flex;
    justify-content: flex-end ;
}

.container_formularios{
    font-family: "Inria Sans", sans-serif;
    border: 2px solid #780000;
    width: 1000px;
    text-align: center;
    height: 500px;
    margin-right: auto;
    margin-left: auto;
    padding: 100px;
    margin-bottom: 50px;
    background-color: rgba(240, 248, 255, 0.573);
}
.bodyForms{
    background-image: url(../img/01EG-Web-Home-Desktop-DOBLE-RESOLUCION-2.jpg.webp);
}
.div_registro{
    padding: 20px;
    text-decoration: none;
    color: black;
}

.boton_registro{
    width: 300px;
    height: 40px;
    border-radius: 5px;
    border: 0px solid black;
    color: white;
    background-color: #003049;
}

.input_registro{
    filter: drop-shadow(2px 2px 4px rgb(0, 0, 0));
    width: 300px;
    height: 40px;
    border: 1px solid #ccc;
}
@media (max-width: 420px){
    .container_formularios{
        display: contents;
    }
    .contenedorLoginHtml{
        display: contents;
    }
}
